{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, max-scale=1.0" charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'test.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'img/img.css' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>

<header></header>

<nav>
    <div class="rounded d-flex justify-content-center">
        <div class="image">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="/">
                    <img src="{% static 'img/risqlac.png' %}" width="160" height="76" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <div class="text-center">
                            <a class="nav-link" href="/" style="color: white;">
                                <i><img class="img-fluid" src="{% static 'img/home.png' %}" width="45"></i><br>
                                Início
                            </a>
                        </div>
                        <div class="text-center">
                            <a class="nav-link" href="busca" style="color: white;">
                                <i><img class="img-fluid" src="{% static 'img/lupa.png' %}" width="45"></i><br>
                                Buscar produtos
                            </a>
                        </div>
                        <div class="text-center">
                            <a class="nav-link" href="quemsomos" style="color: white;">
                                <i><img class="img-fluid" src="{% static 'img/group.png' %}" width="47"></i><br>
                                Quem somos
                            </a>
                        </div>
                        <div class="text-center">
                            <a class="nav-link" href="contato" style="color: white;">
                                <i><img class="img-fluid" src="{% static 'img/contact-mail.png' %}" width="46"></i><br>
                                Contato
                            </a>
                        </div>
                        <div class="text-center">
                            <a class="nav-link" href="ghs" style="color: white;">
                                <i><img class="img-fluid" src="{% static 'img/ghs.png' %}" width="45"></i><br>
                                O que é GHS
                            </a>
                        </div>
                        <div class="dropdown">
                            <a href="#"
                               class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                               id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                                <img src="https://cdn-icons.flaticon.com/png/128/1620/premium/1620754.png?token=exp=1637524914~hmac=54c53db87586cf81fb9ae3a399704baa"
                                     alt="" width="45"
                                     class="img-fluid">
                                <strong> Sair {{request.user.first_name }}</strong>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-white text-small "
                                aria-labelledby="dropdownUser1">
                                <li><a class="dropdown-item" href="/sair">Sair da conta</a></li>
                            </ul>
                        </div>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</nav>
{% block content %}

{% endblock %}

</body>
</html>