{% extends "core/base.html" %}
{% load static %}


{% block content %}
<div class="text-center">

<div class=" col-2 ps-5">
<strong style="color: black;">
    <h1>Fale conosco</h1>
</strong>
    <img  src="{% static 'img/contato1.png' %}" width="250" height="300">
</div>
    <div class=" col-2 ps-5">
        <h3>
            Instagram
        </h3>
        <img class="rounded" src="https://cdn-icons-png.flaticon.com/128/1384/1384031.png" height="70" width="70" href="/">
        <a href="https://www.instagram.com/" style="color: black;">
            https://www.instagram.com/
        </a>
    </div>
      <div class=" col-2 ps-5">
        <h3>
            Email
        </h3>
        <img class="rounded" src="https://cdn-icons.flaticon.com/png/128/3059/premium/3059486.png?token=exp=1637525977~hmac=5304dc02779c9eb908e0185ae841d416" height="70" width="70" href="/">
        <a href="https://www.instagram.com/" style="color: black;">
            email@email.com
        </a>
    </div>
     <div class=" col-2 ps-5">
        <h3>
            Número de telefone
        </h3>
        <img class="rounded" src="https://cdn-icons.flaticon.com/png/128/3059/premium/3059457.png?token=exp=1637526109~hmac=c2fc89fd7754f1f273815352c5d8d553" height="70" width="70" href="/">
        <a href="https://www.instagram.com/" style="color: black;">
            91 123456789
        </a>
    </div>
      <div class=" col-2 ps-5">
        <h3>
            Wathsapp
        </h3>
        <img class="rounded" src="https://cdn-icons-png.flaticon.com/128/455/455604.png" height="70" width="70" href="/">
        <a href="https://www.instagram.com/" style="color: black;">
            91 123456789
        </a>
    </div>
</div>

{% endblock %}